<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a href="/read" class="text-blue-500">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Create user</h1>
        <form action="/create" method="post">
            <input type="text" class="px-5 py-3 outline-none bg-transparent border-2 border-zinc-800 rounded-lg " name="name" placeholder="Enter your Name">
            <input type="text" class="px-5 py-3 outline-none bg-transparent border-2 border-zinc-800 rounded-lg " name="email" placeholder="Enter your Email">
            <input type="text" class="px-5 py-3 outline-none bg-transparent border-2 border-zinc-800 rounded-lg " name="imgUrl" placeholder="Image URL">
            <input type="submit" class="px-5 py-3 bg-blue-500 ml-3 rounded-lg" value="Create User">
        </form>
    </div>
</body>
</html>